{% assign item = include.post %}
{% if item.external_source == blank %}
  {% assign read_time = item.content | number_of_words | divided_by: 180 | plus: 1 %}
{% else %}
  {% assign read_time = item.feed_content | strip_html | number_of_words | divided_by: 180 | plus: 1 %}
{% endif %}
{% assign year = item.date | date: "%Y" %}
{% assign tags = item.tags | join: "" %}
{% assign categories = item.categories | join: "" %}

<li>
  <h3>
    {% if item.redirect == blank %}
      <a class="post-title" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
    {% else %}
      {% if item.redirect contains '://' %}
        <a class="post-title" href="{{ item.redirect }}" target="_blank">{{ item.title }}</a>
        <svg width="2rem" height="2rem" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
          <path d="M17 13.5v6H5v-12h6m3-3h6v6m0-6-9 9" class="icon_svg-stroke" stroke="#999" stroke-width="1.5" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      {% else %}
        <a class="post-title" href="{{ item.redirect | relative_url }}">{{ item.title }}</a>
      {% endif %}
    {% endif %}
  </h3>
  <p>{{ item.description }}</p>
  <p class="post-meta">
    {{ read_time }} min read &nbsp; &middot; &nbsp;
    {{ item.date | date: '%B %-d, %Y' }}
    {%- if item.external_source %}
    &nbsp; &middot; &nbsp; {{ item.external_source }}
    {%- endif %}
  </p>
  <p class="post-tags">
    <a href="{{ year | prepend: '/blog/' | prepend: site.baseurl}}">
      <i class="fas fa-calendar fa-sm"></i> {{ year }} </a>

      {% if tags != "" %}
      &nbsp; &middot; &nbsp;
        {% for tag in item.tags %}
        <a href="{{ tag | prepend: '/blog/tag/' | prepend: site.baseurl}}">
          <i class="fas fa-hashtag fa-sm"></i> {{ tag }}</a> &nbsp;
          {% endfor %}
      {% endif %}

      {% if categories != "" %}
      &nbsp; &middot; &nbsp;
        {% for category in item.categories %}
        <a href="{{ category | prepend: '/blog/category/' | prepend: site.baseurl}}">
          <i class="fas fa-tag fa-sm"></i> {{ category }}</a> &nbsp;
          {% endfor %}
      {% endif %}
  </p>
</li>
